<div id="<%= dom_id word %>">
  <p>
    <strong>Word:</strong>
    <%= word.word %>
  </p>

  <p>
    <strong>Pronunciation:</strong>
    <%= word.pronunciation %>
  </p>

  <p>
    <strong>Meaning:</strong>
    <%= word.meaning %>
  </p>

  <p>
    <strong>Level of difficult:</strong>
    <%= word.level_of_difficult %>
  </p>

</div>
