<div id="<%= dom_id word %>">
  <h1><%= word.word %></h1>

  <p>
    <strong>Pronunciation:</strong>
    <%= word.pronunciation %>
  </p>

  <p>
    <strong>Meaning:</strong>
    <%= word.meaning %>
  </p>

  <p>
    <strong>Level of difficult:</strong>
    <%= word.level_of_difficult %>
  </p>
</div>
