<div id="<%= dom_id word %>" class="row">

  <div class="col-2">
    <%= word.word %>
  </div>

  <div class="col-2">
    <%= word.pronunciation %>
  </div>

  <div class="col-6">
    <%= word.meaning %>
  </div>

  <div class="col-2">
    <%= word.level_of_difficult %>
  </div>

</div>
