<% content_for :custom_stylesheet do %>
  <%= stylesheet_link_tag 'words' %>
<% end %>

<div id="<%= dom_id word %>" class="row rounded mt-2 word-list-item">

  <div class="col-2">
    <%= link_to word.word, word %>
  </div>

  <div class="col-2">
    <%= word.pronunciation %>
  </div>

  <div class="col-4">
    <%= word.meaning %>
  </div>

  <div class="col-2">
    <%= word.level_of_difficult %>
  </div>

  <div class="col-2">
    <%= link_to 'Pronounce' %>
    |
    <%= link_to 'Example with chatGPT' %>
    |
    <%= link_to 'Flashcard', flash_card_path(word) %>
  </div>
</div>
