<p style="color: green"><%= notice %></p>

<h1>All words</h1>

<div class="row">
  <%= link_to "Today words", today_words_path %>
</div>

<%= link_to "Add new word", new_word_path, :class => "btn btn-primary" %>

<div class="mt-3">
  <%= render "words/list" %>
</div>

<div class="justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
