<div class="row mt-3 justify-content-md-center">
  <p style="color: green"><%= notice %></p>
  <div class="card">
    <div class="card-body">

      <%= render @word %>

      <div>
        <div class="row">
          <%= link_to "Edit this word", edit_word_path(@word) %>
          <%= link_to "Back to words", words_path %>
        </div>

        <div class="row">
          <%= button_to "Destroy this word", @word, class: "btn btn-danger", method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
