<!DOCTYPE html>
<html>
  <head>
    <title><%= t :application_name %></title>
    <%= favicon_link_tag image_path('favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <%= yield :custom_stylesheet %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>

    <div class="container">
      <!-- Navigation bar -->
      <% if current_user %>
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="<%= root_path %>"><%= t :applicattion_short_name %></a>
            <div class="float-end">
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
            </div>
          </div>
        </nav>

      <% end %>
      <!-- End of Navigation bar -->
      <%= yield %>
    </div>
  </body>
</html>
